
body{
    background-image: url("img2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
background: rgba(0, 0, 0, 0.8);
color: rgb(255, 255, 255);
margin: 70px auto;
padding: 15px;
width: 850px;
height: 500px;
border-radius: 10px;
}
header{
    border-bottom: 1px solid rgb(161, 159, 159);
    padding-bottom: 20px;
}
form{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}
.search-input{
    font-size: 16px;
    padding: 15px;
    margin: auto 10px;
    border: none;
    border-radius: 5px;
    width: 55%;
}
.search-submit{
    background-color: rgb(49, 117, 253);
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 15px 2px;
    margin: auto -5px auto 5px;
    border: none;
    border-radius: 5px;
    width: 20%;
}
.left-side{
    display: flex;
    justify-content: space-between;

}
main{
    padding: 30px;
}
.city-title{
    padding: 0px;
    margin: 0px;
    font-size: 42px;
    line-height: 48px;
    
}
.city-details{
    font-size: 16px;
    line-height: 22px;    
}
.city-details strong{
    color: rgb(0, 162, 255);
}

.current-weather{
    display:flex
}
.current-weather-icon{
    font-size: 40px;
    margin-top:20px
}
.current-weather-number{
    font-size: 120px;
    margin-left:1px;
    font-weight: bold;
}
.degrees{
    font-size: 28px;
    margin-left: 5px;
    margin-top:10px
}
footer{
    border-top: 1px solid rgb(161, 159, 159);
    text-align: center;
    color:white;
    margin-top: 150px;
    padding: 20px
  
}